body {
  margin: 0;
  font-family: system-ui;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #f06d06;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  cursor: pointer;
}
.lojista-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.lojista-btn a {
  background: #d4af37; /* dourado */
  color: black;
  padding: 12px 20px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.lojista-btn a:hover {
  background: black;
  color: #d4af37;
}
